{% extends 'base.html' %}

{% block content %}

<div class="container">
  <table class="table text-center table-bordered table-hover">
    <thead>
      <tr>
        <th>아이디</th>
        <th>이름</th>
        <th>이메일</th>
        <th>가입일</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.full_name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.date_joined }}</td>
      </tr>
    </tbody>
  </table>
  {% if request.user.pk == user.pk %}
  <a href="{% url 'accounts:update' user.pk %}" class="btn btn-primary">회원정보 수정</a>
  <a href="{% url 'accounts:change-pw' %}" class="btn btn-primary">비밀번호 수정</a>
  <a class='btn btn-danger' data-bs-toggle="modal" data-bs-target="#exampleModal">탈퇴하기</a>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">탈퇴하기</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          정말로 탈퇴하시겠습니까?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          <a class='btn btn-danger' href="{% url 'accounts:delete' %}">탈퇴하기</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <a href="{% url 'accounts:index' %}" class="btn btn-primary">돌아가기</a>

</div>

{% endblock content %}